body {
  display: flex;
  gap: 20px;
}
.legend > div {
  display: flex;
  gap: 4px;
}

.ship,
.hit,
.miss,
.playerTurn {
  width: 10px;
  height: 10px;
  align-self: center;
}

.ship {
  background-color: blue;
}

.hit {
  background-color: red;
}

.miss {
  background-color: grey;
}

.playerTurn {
  background-color: green;
}

.game {
  position: relative;
  display: flex;
  gap: 30px;
}

.playerOneGameBoard,
.playerTwoGameBoard,
.playerOneAttackBoard,
.playerTwoAttackBoard {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
}

.playerOneGameBoard > div,
.playerTwoGameBoard > div,
.playerOneAttackBoard > div,
.playerTwoAttackBoard > div {
  border: 1px solid black;
}

div[data-ship="true"] {
  background-color: blue;
}
div[data-hit="true"] {
  background-color: red;
}
div[data-miss="true"] {
  background-color: grey;
}

.player1,
.player2 {
  position: absolute;
  top: 320px;
  left: 100px;
}
