.game {
  display: flex;
  gap: 100px;
}

.leftGameBoard,
.rightGameBoard {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
}
.leftGameBoard > div,
.rightGameBoard > div {
  border: 1px solid black;
}

div[data-ship="true"] {
  background-color: blue;
}
